/* стилі до portfolio.html */
/* 
.first-part {
    color: dodgerblue;
}

.second-part {
    color: black;
}
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.link:hover {
    color: mediumblue;
}

.link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.button:hover {
    background-color: dodgerblue;
    color: white;
}
.button {
    font-family: 'Roboto', sans-serif;
}
.title {
    font-family: 'Roboto', sans-serif;
}
.footer-numb {
    color: darkgray;
    font-family: 'Roboto', sans-serif;
}

.header-numb {
    color: dimgray;
    font-family: 'Roboto', sans-serif;
}
.text {
    color: dimgray;
    font-family: 'Roboto', sans-serif;
}
.place {
    /* color:white; */
    /* font-family: 'Roboto', sans-serif;
}  */


a {
    text-decoration: none;
}

a:hover {
    color: var(--hover)
}
.logo {
    font-size: 26px;
    font-family: 'Raleway', serif;
    font-weight: 700px;
}

.first-part {
    color: var(--hover);
}

.second-part {
    color: var(--second);
}