/* стилі до index.html */
:root {
    --hover: #2196F3;
    --second: #000;
    --place: #FFF;
    --title: #212121;
    --text: #757575;
    --background: #2F303A;
    --foot: rgba(255, 255, 255, 0.60);
}
body { 
    font-family: 'Roboto', serif;
    font-weight: 400px;
    font-style: normal;
    line-height: normal;
    color:var(--title);
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:hover {
    color:var(--hover)
}
ul{
    list-style-type: none;
}
ul, p, h1, h3, h4, h5 {
    margin: 0;
    padding: 0;
}


.container {
    width: 870px;
    margin: 0px auto;
    outline: 2px solid red;
}



.logo {
    font-size: 26px;
    font-family: 'Raleway', serif;
    font-weight: 700px;
}
.first-part {
    color:var(--hover);
}
.second-part {
    color:var(--second);
}
.nav-list {
    margin-bottom: 32px;
}
.nav-list_link {
    color: var(--title);
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 0.28px;
}
/* .nav-list_item {
    display: inline;
    margin: 16px 25px;
} */
/* .header-section_item {
    display: inline;
    margin: 16px 25px;
} */
.main .container {
    padding-bottom: 94px;
    outline: 2px dotted blue;
}
.main-section {
    width: 1600px;
    height: 600px;
    color:var(--place);
    background-color:var(--background); 
}
.sect-title {
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 1.08px;
}
.main-section_btn{
    color: var(--place);
    background-color: var(--hover);
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 700px;
    line-height: 1.88;
    margin-bottom: 200px; 
}
.main-section_title {
    font-size: 44px;
    font-weight: 900px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 200px;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section_title {
    font-weight: 700px;
    letter-spacing: 0.42px;
}
.section_text {
    color: var(--text);
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.sect {
    padding-bottom: 94px;
}
.sct-title {
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 1.08px;
    /* padding-top: 94px;
    padding-bottom: 50px; */
}

.sct-item_title {
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 0.48px;
    /* padding: 30px 70px 10px 0px; */
}
.sct-item_text {
    font-size: 16px;
    letter-spacing: 0.48px;
}
.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
    outline: 2px double deeppink;
}
.footer {
    background-color: var(--background);
}
.footer-place {
    color:var(--place);
    /* padding-top: 6px; 
    padding-bottom: 9px;
    margin: 0;  */
}
.link {
    color:var(--foot);
}
.footer-second-part {
    color:var(--place);
}