/* стилі до portfolio.html */
/* 
.first-part {
    color: dodgerblue;
}

.second-part {
    color: black;
}
.logo {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.link:hover {
    color: mediumblue;
}

.link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.button:hover {
    background-color: dodgerblue;
    color: white;
}
.button {
    font-family: 'Roboto', sans-serif;
}
.title {
    font-family: 'Roboto', sans-serif;
}
.footer-numb {
    color: darkgray;
    font-family: 'Roboto', sans-serif;
}

.header-numb {
    color: dimgray;
    font-family: 'Roboto', sans-serif;
}
.text {
    color: dimgray;
    font-family: 'Roboto', sans-serif;
}
.place {
    /* color:white; */
    /* font-family: 'Roboto', sans-serif;
}  */
:root {
    --hover: #2196F3;
    --second: #000;
    --place: #FFF;
    --title: #212121;
    --text: #757575;
    --background: #2F303A;
    --foot: rgba(255, 255, 255, 0.60);
}
body {
    font-family: 'Roboto', serif;
    font-weight: 400px;
    font-style: normal;
    line-height: normal;
    color: var(--title);
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--hover)
}
ul {
    list-style-type: none;
}
.logo {
    font-size: 26px;
    font-family: 'Raleway', serif;
    font-weight: 700px;
}

.first-part {
    color: var(--hover);
}

.second-part {
    color: var(--second);
}
.nav-list_link {
    color:var(--title);
    font-size: 14px;
    font-weight: 500px;
    letter-spacing: 0.28px;
}
.btn {
    color:var(--title);
    text-align: center;
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500px;
    line-height: 1.63;
    letter-spacing: 0.48px;
    /* width: 125px;
    height: 38px; */
    border: none;
    border-radius: 10px;
}
.btn:hover{
    color:var(--place);
    background-color: var(--hover);
}
.main-list_title{
    font-size: 18px;
    font-weight: 700px;
    line-height: 2;
    letter-spacing: 1.08px;
}
.main-list_text {
    color: var(--text);
    line-height: 1.88;
    letter-spacing: 0.48px;
}
.footer {
    width: 1600px;
    height: 252px;
    background-color: var(--background);
}

.footer-place {
    color: var(--place);
}

.link {
    color: var(--foot);
}
.footer-second-part {
    color: var(--place);
}