:root {
    --hover: #2196F3;
    --second: #000;
    --place: #FFF;
    --title: #212121;
    --text: #757575;
    --background: #2F303A;
    --foot: rgba(255, 255, 255, 0.60);
}
body { 
    font-family: 'Roboto', serif;
    font-weight: 400px;
    font-style: normal;
    line-height: normal;
    color:var(--title);
    font-size: 14px;
}
a {
    text-decoration: none;
}
a:hover {
    color:var(--hover)
}
ul{
    list-style-type: none;
}
.logo {
    font-size: 26px;
    font-family: 'Raleway', serif;
    font-weight: 700px;
}
.first-part {
    color:var(--hover);
}
.second-part {
    color:var(--second);
}
.nav-list_link {
    color: var(--title);
    font-weight: 500px;
}
.main-section {
    width: 696px;
    height: 120px;
    /* color:var(--place);
    background-color:var(--background);     */
}
.sect-title {
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 1.08px;
}
.main-section_btn{
    color: var(--place);
    background-color: var(--hover);
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 700px;
    line-height: 1.88;
}
.main-section_title {
    font-size: 44px;
    font-weight: 900px;
    line-height: 1.36;
    text-transform: uppercase;
    letter-spacing: 2.64px;
}
.section_title {
    font-weight: 700px;
    letter-spacing: 0.42px;
}
.section_text {
    color: var(--text);
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.sct-title {
    font-size: 36px;
    font-weight: 700px;
    letter-spacing: 1.08px;
}
.sct-item_title {
    font-size: 16px;
    font-weight: 500px;
    letter-spacing: 0.48px;
}
.sct-item_text {
    font-size: 16px;
    letter-spacing: 0.48px;
}
.footer {
    width: 1600px;
    height: 252px;
    background-color: var(--background);
}
.footer-place {
    color:var(--place);
}
.link {
    color:var(--foot);
}